:root {
  scroll-behavior: smooth;
  --main-background-color: #0d0d0d;
  --secondary-background-color: #212121;
  --main-text-color: #cfcfcf;
  --secondary-color: #ff611c;
  --secondary-color-lighter: #ff8f4b;
  --comment-color: #08a26A;
  
  /* root font-size*/
  font-size: 16px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: var(--main-text-color);
}
a {
  text-decoration: none;
}

/* header */
header {
  background-color: var(--main-background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 80px;
  border-bottom: 3px solid var(--secondary-color);
  z-index: 99;
}
#portfolio-name h1 {
  font-size: 2.5rem;
  letter-spacing: 0.15rem;
}
#navbar ul li {
  display: inline;
  font-size: 1.5rem;
}
.nav-item a {
  padding: 0.5rem;
  color: var(--comment-color);
}
.nav-item a::before {
  content: "// ";
}
.nav-item .active {
  color: var(--main-text-color);
}
.nav-item .active::before, .nav-item .active::after {
  color: var(--secondary-color);
  font-weight: bold;
}
.nav-item .active::before {
  content: "< ";
}
.nav-item .active::after {
  content: " >"
}


/* main */
main {
  position: relative;
}
main section {
  min-height: 100vh;
  width: 100%;
  padding-bottom: 30px;
}
.section-title {
  padding: 110px 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-title h2 {
  font-size: 2.5rem;
  font-weight: bold;
}
.section-title::before, .section-title::after {
  color: var(--secondary-color);
  font-size: 2.5rem;
  font-weight: bold;
}
.section-title::before {
  content: "<";
  padding-right: 0.5rem;
}
.section-title::after {
  content: " >";
  padding-left: 0.5rem;
}

  /* welcome section */
#welcome-section {
  background: radial-gradient(ellipse at bottom center, #383838 0%, var(--secondary-background-color) 60%);
}
#welcome-section .content {
  display: flex; 
  justify-content: center;
  align-items: center;
  text-align: center;
}
#welcome-section .left, #welcome-section .right {
  width: 50%;
  min-height: 70vh;
  padding: 25px;
}
/* #welcome-section .left {
  border-right: 3px solid var(--secondary-color);
} */
#welcome-section .right {
  border-left: 3px solid var(--secondary-color);
}
#welcome-section .left #profile-img {
  max-width: 300px;
  min-width: 125px;
  width: 25vw;
  padding-bottom: 25px;
}
#welcome-section .left #welcome-title {
  font-size: 4rem;
  margin-bottom: 0.5rem;
}
#welcome-section .left .welcome-description {
  font-size: 2rem;
  font-style: italic;
  margin-bottom: 0.25rem;
}
#welcome-section .right #resume {
  padding-bottom: 1.5rem;
}
#welcome-section .right h3 {
  font-size: 1.75rem;
  padding-bottom: 15px;
}
#welcome-section .right #resume p {
  margin-bottom: 15px;
  font-size: 1.5rem;
  text-align: left;
}
#welcome-section .right #resume p span {
  line-height: 0.8;
}
#welcome-section .right #resume .date {
  color: var(--secondary-color);
  font-weight: bold;
}
#master-degree::before {
  content: url("./assets/svg/graduation.svg");
  /* https://blendicons.com/icon/64afe6a98aba1478a27d481b-graduation-hat-for-isolated-on-white-background */
  vertical-align: text-top;
  margin: 0 0.5rem;
}
#aeroplane-engineer::before {
  content: url("./assets/svg/aeroplane.svg");
  /* https://blendicons.com/icon/649801bc517bdf4f1c34d179-use-of-airbus-for-civil-aerospace */
  vertical-align: text-top;
  margin: 0 0.5rem;
}
#helicopter-engineer::before {
  content: url("./assets/svg/helicopter.svg");
  /* https://blendicons.com/icon/649fd9d2ebae1fc6d00d306e-helicopter,--multi-purpose-flying-vehicle */
  vertical-align: text-top;
  margin: 0 0.5rem;
}
#code-retrainer::before {
  content: url("./assets/svg/programming.svg");
  /* https://blendicons.com/icon/64cb9a6049f991b68382fd93-programming-and-coding-software-on-a-web-browser */
  vertical-align: text-top;
  margin: 0 0.5rem;
}
#welcome-section a {
  color: var(--main-text-color);
  text-decoration: underline dotted;
}
#welcome-section .right ul {
  list-style-type: square;
  padding-left: 2.5rem;
}
#welcome-section .right li {
  padding-bottom: 0.5rem;
  text-align: left;
  font-size: 1.25rem;
}
#coding-language {
  padding-bottom: 1.5rem;
}
#coding-language div i {
  font-size: 2rem;
  margin: 0 0.25rem;
}
#flags {
  display: flex;
  justify-content: center;
}
#flags img {
  width: 50px;
  margin: 0 15px;
}

  /* projects section */
#projects {
  background: radial-gradient(ellipse at top center, #383838 0%, var(--secondary-background-color) 60%);
}
#project-list {
  max-width: 1280px;
  margin: auto;
  gap: 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 1rem;
}
.project-tile {
  border: 1px solid var(--main-background-color);
  width: 350px;
}
.project-preview {
  position: relative;
  height: 450px;
}
.project-tile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-tile .project-info {
  background-color: var(--main-background-color);
}
.project-tile h4 {
  text-align: center;
  font-size: 1.25rem;
  padding: 0.5rem 0 0.25rem 0;
  font-weight: normal;
}
.project-tile .techno-icons {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 0;
}
.project-tile .techno-icons i {
  padding: 0 0.5rem;
}
.project-tile .github {
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
}
.project-tile .github .btn {
  padding: 0.25rem 0.5rem;
  border: solid 2px var(--main-text-color);
  border-radius: 5px;
  color: var(--main-text-color);
}
.project-hover {
  opacity: 0;
  transition: 0.6s;
}
.project-preview .project-hover .btn {
  display: none;
} 
.project-preview:hover .project-hover { 
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--secondary-color-lighter);
  opacity: 0.95;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.6s;
}
.project-preview:hover .project-hover .btn {
  display: block;
  padding: 0.75rem 1.5rem;
  border: solid 3px var(--secondary-background-color);
  border-radius: 10px;
  font-size: 2rem;
  background-color: var(--main-text-color);
  color: var(--secondary-background-color);
}
.project-hover .btn:hover {
  cursor: pointer;
}
.project-hover .btn:hover i {
  animation: test 0.5s linear infinite;
}

@keyframes test {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

  /* contact section */
#contact {
  background: 
    linear-gradient(
      var(--secondary-background-color) 20%,
      #383838 65%, 
      var(--secondary-background-color) 100%);
  display: flex;
  justify-content: center;
  align-items: center
}
#contact div {
  text-align: center;
}
#contact-title {
  font-size: 4rem;
  margin-bottom: 4rem;
}
#profile-list li {
  display: inline;
  padding: 0 1rem;
}
#profile-link {
  color: var(--main-text-color);
  font-size: 2rem;
}

/* footer */
footer {
  background-color: var(--main-background-color);
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
  border-top: 3px solid var(--secondary-color);
}

/* Media queries */
@media screen and (max-width: 1024px) {
  :root {
    font-size: 0.95rem;
  }
  #welcome-section .content {
    display: block;
  }
  #welcome-section .left, #welcome-section .right {
    width: 100%;
    min-height: auto;
    padding: 4rem 2rem;
  }
  #welcome-section .right {
    padding-bottom: 100px;
    border-left: 0;
  }
  #welcome-section .left #welcome-title {
    font-size: 3.5rem;
  }
  .project-tile {
    width: 325px;
  }  
  .project-preview {
    height: 418px;
  }
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 0.90rem;
  }
  header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .nav-link {
    padding: 0 0.4rem;
  }
  #portfolio-name h1 {
    font-size: 2rem;
  }
  .section-title h2 {
    font-size: 1.8rem;
  }
  #welcome-section .left #welcome-title {
    font-size: 3rem;
  }
  #welcome-section .left, #welcome-section .right {
    padding: 3rem 1.5rem;
  }
  .welcome-description {
    font-size: 1.6rem;
    margin-bottom: 0.2rem;
  }
  #portfolio-name {
    font-size: 1.4rem;
  }
  #welcome-section .right #resume p {
    text-align: center;
  }
  #project-list {
    gap: 2rem;
  }
  .project-tile {
    width: 300px;
  }
  .project-preview {
    height: 385;
  }
  #profile-list li {
    display: block;
    padding: 1rem;
  }
  #profile-link {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 480px) {
  :root {
    font-size: 0.80rem;
  }
  #welcome-section .left #welcome-title  {
    font-size: 2.5rem;
  }
  #welcome-section .left, #welcome-section .right {
    padding: 2rem 1rem;
  }
  .section-title h2 {
    font-size: 1.6rem;
  }
  .project-tile {
    width: 275px;
  }
  .project-preview {
    height: 353px;
  }
  footer {
    font-size: 1.3rem;
  }
}