:root {
  scroll-behavior: smooth;
  --main-red: #be3144;
  --main-white: #f0f0f0;
  --main-gray: #303841;
  --main-blue: #45567d;
  --darker-gray: #191D21;

  --main-background-color: #0d0d0d;
  --secondary-background-color: #212121;
  --main-text-color: #cfcfcf;
  --secondary-color: #ff611c;
  --secondary-color-lighter: #ff8f4b;
  --comment-color: #08a26A;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /*border: 1px solid black*/
}
body {
  font-family: 'Open Sans', sans-serif;
  color: var(--main-text-color);
}
a {
  text-decoration: none;
}

/* header */
header {
  background-color: var(--main-background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 80px;
  border-bottom: 3px solid var(--secondary-color);
  z-index: 99;
}
#portfolio-name h1 {
  font-size: 2.4rem;
  letter-spacing: 0.1rem;
}
#navbar ul li {
  display: inline;
  font-size: 1.4rem;
}
.nav-link {
  color: var(--main-text-color);
  margin-left: 1rem;
  padding: 0.4rem;
  border-bottom: 0;
}
.nav-item .active::before, .nav-item .active::after {
  color: var(--secondary-color);
  font-size: 1.6rem;
  font-weight: bold;
}
.nav-item .active::before {
  content: "< ";
}
.nav-item .active::after {
  content: " >"
}
.nav-item .inactive {
  color: var(--comment-color);
}
.nav-item .inactive::before {
  content: "// ";
}


/* main */
main {
  position: relative;
}
main section {
  min-height: 100vh;
  width: 100%;
  padding-bottom: 30px;
}
.section-title {
  padding: 110px 0 30px;
  text-align: center;
  font-size: 2.5rem;
  font-weight: normal;
}
.section-title::before, .section-title::after {
  color: var(--secondary-color);
  font-size: 2.8rem;
  font-weight: bold;
}
.section-title::before {
  content: "< "
}
.section-title::after {
  content: " >"
}

  /* welcome section */
#welcome-section {
  background: radial-gradient(ellipse at bottom center, #383838 0%, var(--secondary-background-color) 60%);
}
#welcome-section .content {
  display: flex; 
  justify-content: center;
  align-items: center;
  text-align: center;
}
#welcome-section .left, #welcome-section .right {
  width: 50%;
  min-height: 70vh;
  padding: 25px;
}
#welcome-section .left {
  border-right: 3px solid var(--secondary-color);
}
#welcome-section .left #profile-img {
  max-width: 300px;
  min-width: 125px;
  width: 25vw;
  padding-bottom: 25px;
}
#welcome-section .left #welcome-title {
  font-size: 4rem;
  margin-bottom: 0.4rem;
}
#welcome-section .left .welcome-description {
  font-size: 2rem;
  font-style: italic;
  margin-bottom: 0.1rem;
}
#welcome-section .right #resume {
  padding-bottom: 30px;
}
#welcome-section .right h3 {
  font-size: 1.8rem;
  padding-bottom: 15px;
}
#welcome-section .right #resume p {
  margin-bottom: 15px;
  font-size: 1.6rem;
  text-align: left;
}
#welcome-section .right #resume .date {
  color: var(--secondary-color);
  font-weight: bold;
  padding-right: 1rem;
}
#flags {
  display: flex;
  justify-content: center;
}
#flags img {
  width: 50px;
  margin: 0 15px;
}

  /* projects section */
#projects {
  background: radial-gradient(ellipse at top center, #383838 0%, var(--secondary-background-color) 60%);
}
#project-list {
  max-width: 1280px;
  margin: auto;
  gap: 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.project-tile {
  border: 1px solid var(--main-background-color);
  width: 350px;
}
.project-preview {
  position: relative;
  background-color: palevioletred;
  height: 450px;
}
.project-tile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-tile .project-info {
  background-color: var(--main-background-color);
}
.project-tile h4 {
  text-align: center;
  font-size: 1.2rem;
  padding: 0.5rem;
  font-weight: normal;
}
.project-tile .techno-icons {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5rem;
}
.project-tile .techno-icons i {
  padding: 0 0.5rem;
}
.project-tile .github {
  display: flex;
  justify-content: center;
  padding-bottom: 0.5rem;
}
.project-tile .github .btn {
  padding: 0.2rem 0.4rem;
  border: solid 2px var(--main-text-color);
  border-radius: 5px;
  color: var(--main-text-color);
}
.project-hover {
  opacity: 0;
  transition: 0.6s;
}
.project-preview .project-hover .btn {
  display: none;
} 
.project-preview:hover .project-hover { 
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--secondary-color-lighter);
  opacity: 0.95;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.6s;
}
.project-preview:hover .project-hover .btn {
  display: block;
  padding: 0.7rem 1.5rem;
  border: solid 3px var(--secondary-background-color);
  border-radius: 10px;
  font-size: 2rem;
  background-color: var(--main-text-color);
  color: var(--secondary-background-color);
}
.project-hover .btn:hover {
  cursor: pointer;
}
.project-hover .btn:hover i {
  animation: test 0.5s linear infinite;
}

@keyframes test {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

  /* contact section */
#contact {
  /* background-color: var(--secondary-background-color); */
  background: 
    linear-gradient(
      var(--secondary-background-color) 20%,
      #383838 65%, 
      var(--secondary-background-color) 100%);
  display: flex;
  justify-content: center;
  align-items: center
}
#contact div {
  text-align: center;
}
#contact-title {
  color: var(--main-white);
  font-size: 4rem;
  margin-bottom: 4rem;
}
#profile-list li {
  display: inline;
  padding: 0 1rem;
}
#profile-link {
  color: var(--main-white);
  font-size: 2rem;
}

/* footer */
footer {
  background-color: var(--main-red);
  text-align: center;
  color: var(--main-white);
  font-size: 1.5rem;
  padding: 1rem;
  border-top: 3px solid var(--darker-gray);
}

/* Media queries */
@media screen and (max-width: 1024px) {
  :root {
    font-size: 0.95rem;
  }
  #projects {
    padding: 80px 0 60px 0;
  }
  .project-tile {
    width: 325px;
  }
  .project-tile img {
    height: 418px;
  }
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 0.90rem;
  }
  header{
    display: block;
    text-align: center;
  }
  #welcome-title {
    font-size: 3.5rem;
  }
  .welcome-description {
    font-size: 1.6rem;
    margin-bottom: 0.2rem;
  }
  #portfolio-name {
    font-size: 1.4rem;
  }
  #projects {
    padding: 80px 5px 30px 5px;
  }
  #projects h2 {
    padding: 30px 0;
    font-size: 1.9rem;
  }
  #project-list {
    gap: 2rem;
  }
  .project-tile {
    width: 300px;
  }
  .project-tile img {
    height: 385px;
  }
  #profile-list li {
    display: block;
    padding: 1rem;
  }
  #profile-link {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 480px) {
  :root {
    font-size: 0.80rem;
  }
  #projects h2 {
    padding: 20px 0;
    font-size: 1.6rem;
  }
  .project-tile {
    width: 275px;
  }
  .project-tile img {
    height: 353px;
  }
  footer {
    font-size: 1.3rem;
  }
}